.about {
    display: flex;
    justify-content: space-between; /* Keeps space between profile and skills */
    align-items: flex-start;
    padding: 50px;
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto; /* Centers the landing page */
}

.profile-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 100px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.profile-name {
    font-size: 2rem;
    line-height: 2;
    color: #666;
}

.skills-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-left: 100px; /* Move the skills section to the right */
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skill-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.skill-description {
    font-size: 1rem;
    color: #555;
    text-align: left;
}