@import url("sidebar.css");
@import url("projects.css");
@import url("about.css");
@import url("resume.css");
@import url("tags.css");
@import url("projectpage.css");

html {
    scroll-behavior: smooth; /* Smooth scrolling on all anchor links */
}

.main-horizontal-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content {
    flex-grow: 1;
    background-color: #F7F7F7;
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /*color: #333;*/
    display: flex;
    min-height: 100vh;
}


h1 {
    font-size: 1.5rem;
    margin-top: 10px;
}

p {
    font-size: 1rem;
    color: #aaa;
}


.section-title {
    padding-top: 10px;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.more-projects {
    padding: 50px;
    text-align: center;
}

footer {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 20px;
    color: #aaa;
}

footer p {
    font-size: 0.9rem;
    color: #aaa;
}
