.project-page-title {
    text-align: center;
}

.project-page-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-page-info {
    padding: 15px;
}

.project-page-description {
    font-size: 1rem;
    margin-bottom: 10px;
}
