
h1, h2 {
    
}

hr {
    border: none;
    height: 2px;
    background-color: #333; /* Adjust color */
    margin: 10px 0;
}

.project-section p {
    color: #555;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title {
    text-align: center;
    font-size: 5rem;
    max-width: 500px;
}

.project-section {
    margin-bottom: 10px;
    width: 1000px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project-section-title {
    text-align: left;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}
.project-image img {
    width: 100%;
    border-radius: 5px;
    margin-top:8px;
}

.project-description {
    padding-bottom: 10px;
    text-align: justify;
}

.project-description p {
    margin-bottom: 10px;
}

.image-caption {
    font-size: 0.9rem;
    color: #aaa;
    text-align: center;
    margin-top: 4px;
    font-style: italic;
}


.icon-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.icon-item {
    display: flex;
    align-items: center; /* Align icon and text vertically */
    gap: 10px; /* Space between icon and text */
}
.icon-item img {
    width: 30px; /* Fixed width */
    height: 30px; /* Fixed height */
    object-fit: contain; /* Ensures the entire icon is visible */
}







.info-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.info-item strong {
    flex: 1;
    font-weight: bold;
}

.info-description {
    flex: 2;
    padding-left: 20px;
    text-align: justify;
}



