#resume {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.resume-experience {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr; /* Title, Metadata, Description */
    gap: 20px;
    padding: 25px 0;
    border-bottom: 1px solid #ddd;
}

.resume-experience-title {
    text-align: left;
    max-width: 200px;
}

.resume-experience-title-game {
    font-style: italic;
}

.resume-experience-title-company {
    font-weight: bold;
    margin-top: 10px;
}
.resume-experience-title-company:hover {
    transform: scale(1.05);
}
.resume-experience-title-company a {
    color: inherit; /* Keeps text color consistent */
    transition: color 0.5s, transform 0.5s;
}

.resume-experience-metadata {
    max-width: 200px;
}

.resume-experience-metadata-date {
    font-style: italic;
    color: gray;
    margin-bottom: 5px;
}

.resume-experience-metadata-position {
    font-weight: bold;
}

.resume-experience-description {
    text-align: justify;
}

.resume-competences {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr; /* Title, Metadata, Description */
    gap: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.resume-competences.two-column {
    grid-template-columns: 1fr 2fr; /* Title, Description */
}
